*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: grid;
    place-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(119, 124, 124);
}

.calculator{
    width: 335px;
    height: 460px;
    background-color: rgb(87, 87, 99);
    
}

.displayCalc{
    width:310px;
    height: 100px;
    border-radius: 10px;
    font-size:30px;
    text-align: right;
    border: none;
    outline: none;
}

.display{
    padding: 10px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    padding: 15px;
    gap: 2px;
}

.button{
    background-color: rgb(150, 150, 149);
    
    width: 75px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    
}

.button:hover{
    background-color: rgb(139, 139, 134);

}